@import url('./_type/header__link_type_grey.css');
@import url('./_type/header__link_type_white.css');

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    height: auto;
    margin-top: 10px;
    transition: opacity 0.4s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__link:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 550px) {
    .header__link {
        margin: 40px auto;
    }
}

@media only screen and (max-width: 320px) {
    .header__link {
        font-size: 14px;
        line-height: 16.94px;
    }
}