.header__email {
    margin: 10px 24px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (max-width: 550px) {
    .header__email {
        margin: 0 0 18px 0;
    }
}