.auth-container {
    max-width: 358px;
    width: 81.25%;
    margin: 60px auto 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-flex-container {
    margin-bottom: 216px;
}

.auth-container__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    text-align: center;
    margin-bottom: 50px;
}

.auth-container__input-group {
    margin-bottom: 30px;
}

.auth-container__input-group:last-child {
    margin-bottom: 0;
}

.auth-container__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: solid 2px #CCCCCC;
    height: 27px;
    background-color: transparent;
    color: white;
}

.auth-container__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 13px;
    padding: 13px 0;
}

.auth-container__input:focus {
    outline: none;
}

.auth-container__submit-button {
    width: 100%;
    height: 50px;
    padding: 0;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.auth-container__submit-button:hover {
    opacity: 0.85;
}

.lower-flex-container {
    display: flex;
    flex-direction: column;
}

.auth-container__switch-link {
    position: relative;
    display: inline;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity 0.4s ease;
}

.auth-container__switch-link:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 320px) {
    .auth-container {
        margin: 40px auto 42px auto;
    }

    .upper-flex-container {
        margin-bottom: 173px;
    }

    .auth-container__title {
        font-size: 20px;
        line-height: 24.2px;
        margin-bottom: 40px;
    }

    .auth-container__submit-button {
        height: 46px;
        font-size: 16px;
        line-height: 19.36px;
    }

    .auth-container__switch-link {
        font-size: 12px;
        line-height: 14.52px;
    }

}